body{
    background-color: #f0ffff;
    padding:10px 20px;
}
.flexible{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#logo{
    border-radius: 15px;
    width:200px;
}

#bienvenida{
    margin-top: 50px;
    margin-bottom: 50px;
}

#mensajeBienvenida{
    margin-top: 35px;
}