body{
    background-color: #f4fafb;
    padding:10px 20px;
}
.flexible{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;

}

button{
    margin: 5px;
}

#main-header {
	background: #c4e4f4;
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
	


#logo{
    border-radius: 15px;
    width:200px;
}

#object_plane {
    transform: translate(400%, -100%);
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }

  @keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }

.display-4{
    text-align: center;
    margin: 10px;
}

.experiencia{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
#bienvenida{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*.bienvenida{
    background-image: url('img/paisaje.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}*/

#mensajeBienvenida{
    margin-top: 35px;
    transform: translate(0%, -70%);
}

.margin-bottom-20{
    margin-bottom: 20px !important;
}

#message{
    color: red;
}

#btnSortir{
    float: right;
}


#registrar{
    float: right;
}

#headerRight{
    padding-right: 62px;
}
